NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pacs_mvp
JWT_ACCESS_SECRET=change_me_access_secret_12345
JWT_REFRESH_SECRET=change_me_refresh_secret_12345
STORAGE_ROOT=../storage
APP_BASE_URL=http://localhost:4000
